<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <img src="{{ url_for('static', filename='kfc.jpg') }}" />
</head>

<body>
    <h1>Jordan Dwyer</h1>
    <p>I am currently pursuing a degree in Information Technology along with a minior in economics. I am a big foodie and my other
        hobbies include technology, photography, cooking and drone piloting. I describe myself as a introvert with extroverted
        tendencies due to the fact that while i love staying inside, I love going out to try new things (mainly food)
        and other activities.</p>
</body>

</html>